
body{

	color:black;
	background:white;
	font-family: Monaco,Bitstream Vera Sans Mono,"Lucida Console",Terminal;
}

button{
		color:black;
	background:white;

}

hr{
	color:black;
}

li a {
	color:black;
	background:white;
}
li a:hover{
	background:black;
	color:white;
}
.current{
	background:black;
	color:white;
}