body{
	background:#2c2d32; 
	color:#777; 
	font-family: Monaco,Bitstream Vera Sans Mono,"Lucida Console",Terminal;
}
button
{
	background:black; 
	color:#777; 
}
a
{
	color:white;
}

li a 
{
	background:black;
	color:#777;
}
li a:hover
{
	background:white;
}
.current
{
	background:white;
	
}